@import url("https://fonts.googleapis.com/css?family=Manrope");
body {
  font-family: Monospaced, sans-serif;
  /* LABEL ======================================= */
  /* active state */
  /* BOTTOM BARS ================================= */
  /* active state */
  /* HIGHLIGHTER ================================== */
  /* active state */
  /* ANIMATIONS ================ */
}
body h1 {
  background: rgb(238, 174, 202);
  background: linear-gradient(90deg, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 70px;
  margin: 80px;
  text-align: center;
}
body .register_form {
  display: flex;
  justify-content: center;
}
body .group {
  position: relative;
  margin-bottom: 45px;
}
body .group input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}
body .group input:focus {
  outline: none;
}
body label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
body .group input:focus ~ label, body .group input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}
body .bar {
  position: relative;
  display: block;
  width: 300px;
}
body .bar:before, body .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
body .bar:before {
  left: 50%;
}
body .bar:after {
  right: 50%;
}
body .group input:focus ~ .bar:before, body .group input:focus ~ .bar:after {
  width: 50%;
}
body .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
body .group input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
body .register_button {
  display: flex;
  justify-content: center;
  margin-left: 80px;
}
body .register_button #register {
  border: none;
  border-radius: 30px;
  padding: 15px;
  font-family: Manrope, sans-serif;
  width: 100px;
  transition: all 200ms ease-in-out;
  margin-right: 20px;
}
body .register_button p {
  font-family: Manrope, sans-serif;
  font-weight: 70;
  font-size: 15px;
  color: #757575;
  align-self: center;
}
body .register_button #accept {
  align-self: center;
}
body .register_button #register:hover {
  border: none;
  color: white;
  background-color: #5264AE;
}

/*# sourceMappingURL=register.css.map */
