<div class="beginning">
    <h1> The Black&White
        <br>
        Production </h1>
</div>

<div class="container">
    <!-- sends there a query -->
    <form action="/" method="get">
        <div class="search_input">
            <input id="search" type="text" name="search" placeholder="type in any coffee or dessert...">
        </div>
        <div class="enter_input">
            <input type="submit" placeholder="click">
        </div>
    </form>
</div>
