<head>
    <meta charset="UTF-8">
    <title>{{title}} </title>
    <link rel="stylesheet" href="scss/{{style}}">
    <script src="js/{{script}}"></script>
</head>

<h1>Registration</h1>
<div class="register_form">
    <form action="/account" method="post" id="reg_form">

        <div class="group">
            <input id="first_name" type="text" name="first_name">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label for="first_name" class="first_name">First Name</label>
        </div>

        <div class="group">
            <input id="last_name" type="text" name="last_name">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label for="last_name" class="last_name">Last Name</label>
        </div>

        <div class="group">
            <input id="email" type="email" name="email">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label for="email" class="email">Email</label>
        </div>

        <div class="group">
            <input id="phone" type="number" name="phone">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label for="phone" class="phone">Phone Number</label>
        </div>

        <div class="group">
            <input id="password" type="password" name="password">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label for="password" class="password">Password</label>
        </div>

    <div class="register_button">
        <input id="register" type="submit" value="register">
        <p>* By registering, you accept our policy</p>
        <input id="accept" type="radio" name="accept">
    </div>
    
    </form>
</div>

{{!-- <div class="register_button">
    <input id="register" type="submit" value="register">
    <p>* By registering, you accept our policy</p>
    <input id="accept" type="radio" name="accept">
</div> --}}